* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

  h2 {
    margin-top: 1%;
    margin-left: 1%;
  }

  input {
    height: 2rem;
    width: 20rem;
    border-radius: 7.5px;
  }

  .checklist-header-container {
    background-color: rgb(167, 165, 165);
    width: 70%;
    margin-top: 1%;
    margin-left: 1%;
    min-height: 30%;
    display: flex;
    /*justify-content:space-between;*/
    align-items: center;
    padding: 1%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
  }

  .checklist-name-container {
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:flex-start;
  }

  .station-name-container {
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:flex-start;
    margin-left: 10%;
  }

  .work-instruction-container {
    margin-top: 0.40%;
  }

  .process-header-container {
    background-color: rgb(195, 190, 190);
    width: 70%;
    min-height: 30%;
    /*margin-top: 1%;*/
    margin-left: 1%;
    display: flex;
    /*justify-content:space-between;*/
    align-items: center;
    padding: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
  }

  .process-name-container {
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:flex-start;
  }

  .check-location-container {
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:flex-start;
    margin-left: 10%;
  }

  .instruction-no-container {
    font-size: larger;
    margin-left: 30%;
    font-weight:bolder
  }

  .check-details-container {
    background-color: rgb(239, 232, 232);
    width: 70%;
    /*margin-top: 1%;*/
    margin-left: 1%;
    min-height: 30%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
    padding: 1%;
    border-style: solid;
    border-color: black;
    border-width: 0px 1.5px 0px 1.5px;
  }

  .check-details-input {
    min-width: 100%;
  }

  .work-area-container {
    height: 30rem;
    width: 70%;
    background-color: rgb(239, 232, 232);
    margin-left: 1%;
    border-style: solid;
    border-color: black;
    border-width: 1.5px 1.5px 1.5px 1.5px;
  }

  .image-container {
    height: 20rem;
    width: 60%;
    margin-top: 2%;
    margin-left: 2%;
    /*
    border-style: dashed;
    border-color: orange;
    border-width: 2.5px 2.5px 2.5px 2.5px;
    */
  }

  .image-component {
    height: 20rem;
    width: 60%;
    margin-top: 2%;
    margin-left: 2%;
  }

  .input-field-container {
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: flex-end;
  }

  .input-field1-container {
    height: 6rem;
    width: 20%;
    margin: 2%;
    /*
    border-style: dashed;
    border-color: orange;
    border-width: 2.5px 2.5px 2.5px 2.5px;
    */
  }

  .input-field-component {
    height: 6rem;
    width: 20%;
    margin: 2%;
  }

  .input-field1-component {
    height: 6rem;
    width: 20%;
    margin: 2%;
  }

  .input-field2-container {
    height: 6rem;
    width: 20%;
    margin: 2%;
    /*
    border-style: dashed;
    border-color: orange;
    border-width: 2.5px 2.5px 2.5px 2.5px;
    */
  } 

  .input-field2-component {
    height: 6rem;
    width: 20%;
    margin: 2%;
  }

  .input-field1-container.over {
    border-style: dashed;
    border-color: orange;
    border-width: 2.5px 2.5px 2.5px 2.5px;
  }

  .input-field2-container.over {
    border-style: dashed;
    border-color: orange;
    border-width: 2.5px 2.5px 2.5px 2.5px;
  }

  .image-container.over {
    border-style: dashed;
    border-color: orange;
    border-width: 2.5px 2.5px 2.5px 2.5px;
  }

  .judgement-container {
    height: 6rem;
    width: 35%;
    margin: 2%;
    /*
    border-style: dashed;
    border-color: orange;
    border-width: 2.5px 2.5px 2.5px 2.5px;
    */
  }

  .judgement-component {
    height: 6rem;
    width: 35%;
    margin: 2%;
  }

  .judgement-button {
    height: 3rem;
    width: 40%;
    margin: 1%;
  }

  .judgement-ok-button {
    background-color: green;
  }

  .judgement-ng-button {
    background-color: red;
  }

  .judgement-container.over {
    border-style: dashed;
    border-color: orange;
    border-width: 2.5px 2.5px 2.5px 2.5px;
  }

  .component-panel-container {
    float: right;
    background-color: whitesmoke;
    width: 20%;
    min-height: 15rem;
    margin-top: 1%;
    margin-right: 1%;
    padding: 1%;
    position: fixed;
    top: 6%;
    left: 75%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .publish-json-container {
    float: right;
    background-color: whitesmoke;
    width: 20%;
    /*min-height: 15rem;*/
    margin-top: 1%;
    margin-right: 1%;
    padding: 1%;
    position: fixed;
    top: 50%;
    left: 75%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .publish-button {
    background-color: rgb(210, 233, 148);
    width: 100%;
    height: 5rem;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
  }

  .components {
    display: flex;
    background-color: rgb(243, 214, 177);
    min-width: 97%;
    padding: 0.1rem;
    margin: 0.75rem;
    cursor: move;
  }

  .add-work-instruction {
    margin-top: 0.40%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0.40%;
    width: 70%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    background-color: beige;*/
  }

  .add-work-instruction-button {
    background-color: rgb(210, 233, 148);
    width: 100%;
    height: 30%;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
  }

